#countries-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr) ;
    gap: 15px;
}

.countries {
    background-color: lightblue;
    padding: 15px;
    margin: 10px;
    border-radius: 15px;
}